body {
  margin: 0;
}
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.icon {
  width: 15rem;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #0087d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: #c50000;
}
.home-responsive {
  max-width: 100%;
  height: auto;
}
.home-third-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-welcome-tag {
  color: #0087d9;
  font-size: 18px;
  text-align: center;
}
.home-para {
  color: #666666;
  font-size: 14px;
  text-align: justify;
}
.home-welcome-para {
  background-color: #f4f4f4;
  border: 1px solid #f1f1f1;
  margin: 2rem 0 !important;
  padding: 1rem 2rem !important;
  width: 80% !important;
}
.home-footer {
  align-items: center;
  background-color: #383937;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 100%;
}
.copyright {
  color: #f2f2f2;
  text-align: center;
}
.home-fourth-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  width: 100%;
}
.home-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.home-sub-image {
  width: 50%;
}
.home-sub-para {
  text-align: justify;
  width: 50%;
}
.about-section {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  margin-top: 5rem;
  width: 90%;
}
.about-img {
  width: 30%;
}
.about-para {
  text-align: justify;
  width: 30%;
}
.gallery-img {
  width: 40%;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type='submit'] {
  background-color: #0087d9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .topnav a.icon {
    float: right;
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .home-sub-para {
    font-size: 12px;
  }
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}
